{
  "plugins": ["prettier-plugin-tailwindcss"],
  "importOrder": ["^components/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "printWidth": 90,
  "singleQuote": true
}
