@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

@layer components {
  .underlineHover {
    @apply relative;
  }

  .underlineHover::after {
    @apply absolute bottom-[1px] left-[0px] h-[1px] w-[0%]  bg-gray-800 duration-200 content-[''] dark:bg-zinc-300;
  }

  .underlineHover:hover::after {
    @apply w-[100%];
  }
}
